*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

min-height:100vh;

background:linear-gradient(135deg,#0b1026,#161b3d,#2d1f68);

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}

body::before{

content:"";

position:absolute;

width:450px;

height:450px;

background:#6c63ff;

border-radius:50%;

filter:blur(170px);

left:-100px;

top:-120px;

}

body::after{

content:"";

position:absolute;

width:420px;

height:420px;

background:#00c2ff;

border-radius:50%;

filter:blur(160px);

right:-120px;

bottom:-120px;

}

.background{

width:100%;

display:flex;

justify-content:center;

align-items:center;

z-index:2;

}

.register-card{

width:470px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.15);

border-radius:25px;

padding:40px;

color:white;

box-shadow:0 20px 45px rgba(0,0,0,.35);

}

h1{

text-align:center;

margin-bottom:10px;

}

.subtitle{

text-align:center;

margin-bottom:30px;

color:#d7d7d7;

}

label{

display:block;

margin-top:15px;

margin-bottom:8px;

}

input[type=text],
input[type=email],
input[type=tel],
input[type=password]{

width:100%;

padding:14px;

border:none;

outline:none;

border-radius:12px;

background:rgba(255,255,255,.15);

color:white;

}

input::placeholder{

color:#d7d7d7;

}

.password-box{

position:relative;

}

.toggle{

position:absolute;

right:18px;

top:50%;

transform:translateY(-50%);

cursor:pointer;

user-select:none;

}

.terms{

display:flex;

align-items:center;

gap:10px;

margin-top:18px;

font-size:14px;

}

.terms input{

width:auto;

}

button{

width:100%;

margin-top:25px;

padding:15px;

border:none;

border-radius:15px;

cursor:pointer;

background:linear-gradient(90deg,#6c63ff,#897cff);

color:white;

font-size:16px;

font-weight:600;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

box-shadow:0 12px 30px rgba(108,99,255,.45);

}

.bottom-text{

margin-top:25px;

text-align:center;

}

.bottom-text a{

text-decoration:none;

color:#8ecbff;

font-weight:600;

}